<router-outlet />
<h1>Button Medium</h1>
<ic-button text="Cotizar" variant="primary"></ic-button>
<ic-button text="Iniciar Sesión" variant="secondary"></ic-button>
<ic-button text="Cotizar" variant="primary" [disabled]="true"></ic-button>
<ic-button
  text="Iniciar Sesión"
  variant="secondary"
  [disabled]="true"
></ic-button>
<hr />
<h1>Button Small</h1>
<ic-button text="Cotizar" variant="primary" size="small"></ic-button>
<ic-button text="Iniciar Sesión" variant="secondary" size="small"></ic-button>
<ic-button
  text="Cotizar"
  variant="primary"
  size="small"
  [disabled]="true"
></ic-button>
<ic-button
  text="Iniciar Sesión"
  variant="secondary"
  size="small"
  [disabled]="true"
></ic-button>
<hr />
<h1>Button Large</h1>
<ic-button text="Cotizar" variant="primary" size="large"></ic-button>
<ic-button text="Iniciar Sesión" variant="secondary" size="large"></ic-button>
<ic-button
  text="Cotizar"
  variant="primary"
  size="large"
  [disabled]="true"
></ic-button>
<ic-button
  text="Iniciar Sesión"
  variant="secondary"
  size="large"
  [disabled]="true"
></ic-button>
<hr />
<h1>Input</h1>
<ic-input type="text"></ic-input>
<hr />
<h1>Form</h1>
<ic-card title="Advanced Card" subtitle="Card Subtitle" footer="Footer Content">
  <div content>
    <ic-input type="text"></ic-input>
    <ic-input type="text"></ic-input>
  </div>
  <div footer>
    <ic-button text="Iniciar Sesión" variant="primary"></ic-button>
  </div>
</ic-card>
