<h1>Form</h1>
<ic-card
  title="Documentos Tributarios"
  subtitle="Listado de documentos tributarios"
>
  <div>
    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th>DTE</th>
          <th>RUT Receptor</th>
          <th>Tipo</th>
          <th>ShortURL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.dte }}</td>
          <td>{{ item.rut }}</td>
          <td>{{ item.type }}</td>
          <td><ic-input type="text"></ic-input></td>
          <td>
            <ic-button
              text="Generar URL"
              variant="primary"
              (onClick)="generateURL(item.dte)"
            ></ic-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ic-card>
